<h1>
Interpolação
</h1>

<p>String com Interpolação: {{url}} </p>
<p>1 + 1 = {{1+1}}</p>

<h1>Property Binding</h1>
<img [src]="urlimagem">
<img bind-src ="urlimagem">

<h1>Event Binding</h1>
<input type="text" 
(keyup)="onKeyUp($event)"
(keyup.enter)="armazenarValor(campoInput.value)"
(blur) = "armazenarValor(campoInput.value)"
#campoInput
>

<p>valor atual:{{valorAtual}}</p>
<p>valor atual: {{valorArmazenado}}</p>

<br>

<span 
(mouseOVer)="onMouseOVer()"
(mouseOut)="onMouseOut()"
[class.hislight]="isMouseOVer"
>Passe o Mouse</span>

<p>{{isMouseOVer}}</p>
